/* styling for the messages area */
.messages {
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
}

/* individual message styling */
.message {
    margin-bottom: 10px;
}

/* styling for messages sent/received */
.message.sent {
    text-align: right;
    background-color: #cce5ff; /* light blue background */
    color: #000000; /* black text */
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    max-width: 70%;
    margin: 5px 0;
    margin-left: auto; /* align to the right */
    word-wrap: break-word; /* ensure long text wraps */
}

.message.received {
    text-align: left;
    background-color: #f1f1f1; /* light gray background */
    color: #000000; /* black text */
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    max-width: 70%;
    margin: 5px 0;
    margin-right: auto; /* align to the left */
    word-wrap: break-word; /* ensure long text wraps */
}


/* hover effects for messages sent/received */
.message.sent:hover {
    background-color: #b8daff; /* slightly darker blue on hover */
}

.message.received:hover {
    background-color: #e0e0e0; /* slightly darker gray on hover */
}